<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/landing.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Quicksand:wght@500&family=Poppins:wght@400"
      rel="stylesheet"
    />
    <!-- <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    /> -->

    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script> -->

    <title>Home Page</title>
  </head>
  <body>
    <div id="home-headers"">
      <h1>Java the Hut - Coffee Shop</h1>
      <!-- <h2>Can we take your order?</h2> -->
    </div>
    <div id="hut-logo">
      <a href="/menu"><img src="/images/hut.png" id="hut" /></a>
    </div>
    <p>Click the Hut above to enter</p>
  </body>
</html>
