<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/landing.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Quicksand:wght@500"
      rel="stylesheet"
    />
    <title>Home Page</title>
  </head>
  <body>
    <h1>Welcome to Java the Hut - Coffee Shop</h1>
    <a href="/menu"><img src="/images/hut.png" id="hut" /></a>
    <p>Click the Hut above to enter</p>
  </body>
</html>
