<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Java the Hut</title>
  </head>
  <body>
    <header class="navbar">
      <nav>
        <div class="nav-wrapper">
          <ul>
            <li>Java the Hut</li>
          </ul>
          <ul>
            <li><a href="/home">Home</a></li>
            <li><a href="/product">Product</a></li>
            <li><a href="/cart">Cart</a></li>
            <li><a href="/signin">Sign in</a></li>
          </ul>
        </div>
      </nav>
    </header>
  </body>
</html>
