body {
  font-family: "Quicksand", sans-serif;
}

nav {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: space-between;
  padding: 20px;
  font-size: 20px;
}
.nav-wrapper {
  display: flex;
}

.nav-java {
  margin-right: 10px;
  font-family: "Press Start 2P", cursive;
}

.nav-home {
  margin-left: 150px;
  padding: 10px;
}

a {
  text-decoration: none;
  color: black;
  text-align: center;
  padding: 15px;
}

.navbar {
  margin-top: 16px;
}

a:hover {
  border: 1px solid black;
  border-radius: 4px;
  color: #00b7ff;
}

/* .product-images {
  height: 50px;
  width: 50px;
  padding: 20px;
} */

.product-images > img:hover {
  border: 1px solid black;
  border-radius: 4px;
  color: #00b7ff;
}

.product-images-cold {
  height: 70px;
  width: 50px;
}

.product-images-food {
  height: 55px;
  width: 60px;
}
