body {
  font-family: "Quicksand", sans-serif;
  background-color: #8baf81;
}

nav {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: space-between;
  padding: 20px;
  font-size: 20px;
}
.nav-wrapper {
  display: flex;
}

.nav-java {
  margin-right: 10px;
  font-family: "Press Start 2P", cursive;
}

.nav-home {
  margin-left: 150px;
  padding: 10px;
}

a {
  text-decoration: none;
  color: black;
  text-align: center;
  padding: 15px;
}

.navbar {
  margin-top: 16px;
}

a:hover {
  border-radius: 4px;
  color: white;
}

.product-images:hover {
  color: white;
}

.product-header {
  font-family: "Press Start 2P", cursive;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 100px;
}
.drink-images-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
}
.food-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 100px;
}
.food-images-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
}
.products {
  margin-left: 20px;
}
@media only screen and (max-width: 600px) {
  .menu-image > img {
    width: 100%;
  }
  .product-images {
    width: 80%;
  }
}
