body {
  font-family: "Quicksand", sans-serif;
  background-color: #8baf81;
}
nav {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: space-between;
  padding: 20px;
  font-size: 20px;
}
.nav-wrapper {
  display: flex;
}

.nav-java {
  margin-right: 10px;
  font-family: "Press Start 2P", cursive;
}

.nav-home {
  margin-left: 150px;
  padding: 10px;
}

a {
  text-decoration: none;
  color: black;
  text-align: center;
  padding: 15px;
}

.navbar {
  margin-top: 16px;
}

a:hover {
  border: 1px solid black;
  border-radius: 4px;
  color: #00b7ff;
}

.product-img > img {
  height: 270px;
  width: 270px;
  margin-top: 20px;
  margin-left: 150px;

  /* border: 10px solid black; */
}

.product {
  background-color: #1f3933;
}
.product-wrapper {
  display: flex;
}
.product-description > p {
  color: white;
  font-size: 2.4rem;
  text-align: center;
  margin-left: 200px;
  margin-top: 100px;
  font-weight: bold;
  font-family: oDoSans, Helvetica Neue, Helvetica, Arial, sans-serif;
}
/* .size-options {
  font-weight: bold;
  font-size: 20px;
}
.sizes {
  margin-top: 20px;
  border: 1px solid black;
  margin-left: 50px;
  display: flex;
  justify-content: ;
} */

.section {
  display: flex;
  justify-content: space-around;
}
