<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/menu.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Quicksand:wght@500"
      rel="stylesheet"
    />
    <title>Java the Hut</title>
  </head>
  <body>
    <header>
      <nav>
        <div class="nav-wrapper">
          <img
            class="nav-java"
            src="/images/logo.png"
            height="50px"
            width="50px"
          />
          <a class="nav-java" href="/home">Java the Hut</a>
        </div>
        <div class="navbar">
          <a class="nav-home" href="/menu">Menu</a>
          <a class="nav-home" href="/cart">Cart</a>
          <a class="nav-home" href="/signin">Sign in</a>
        </div>
      </nav>
    </header>
    <main>
      <div class="product-header">
        <h2>Drinks</h2>
      </div>

      <div class="drink-images-wrapper">
       
        <div class="product-images">
          <a href="/menu">
            <img src="/images/coffee.png" height="50px" width="50px" />
          </a>
          House Coffee
        </div>
        
        <div class="product-images">
          <a href="/menu">
            <img src="/images/espresso.png" height="50px" width="50px" />
          </a>
          Espresso
        </div>
        
        <div class="product-images">
          <a href="/menu">
            <img src="/images/latte.png" height="50px" width="50px" />
          </a>
          Latte
        </div>

        <div class="product-images">
          <a href="/menu">
            <img src="/images/iced.png" height="70px" width="50px" />
          </a>
          Iced Coffee
        </div>

        <div class="product-images">
        <a href="/menu">
          <img src="/images/iced-latte.png" height="70px" width="50px"  /> 
          </a>
        Iced Latte
      </div>

      <div class="product-header">
        <h2>Food</h2>
      </div>
      <div class="food-images-wrapper">
        <div class="product-images">
        <a href="/menu">
          <img src="/images/cookie.png" height="60px" width="70px" /></a>
          Chocolate Chunk Cookie
        </div>

        <div class="product-images">
          <a href="/menu">
            <img src="/images/danish.png" height="60px" width="55px" /> </a>
          Strawberry Cheese Danish
        </div>

        <div class="product-images">
          <a href="/menu">
          <img src="/images/loaf.png" height="60px" width="55px" /> </a>
          Banana Loaf
        </div>
        
        <div class="product-images">
          <a href="/menu">
            <img src="/images/muffin.png" height="60px" width="55px" /> </a>
            Blueberry Muffin
        </div>

        <div class="product-images">
          <a href="/menu">
            <img src="/images/croissant.png" class="product-images-food" height="60px" width="55px"/> </a>
            Butter Croissant
        </div>

      </div>
    </main>

  </body>
</html>
