<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/menu.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Quicksand:wght@500"
      rel="stylesheet"
    />
    <title>Java the Hut</title>
  </head>
  <body>
    <header>
      <nav>
        <div class="nav-wrapper">
          <img
            class="nav-java"
            src="/images/logo.png"
            height="50px"
            width="50px"
          />
          <a class="nav-java" href="/home">Java the Hut</a>
        </div>
        <div class="navbar">
          <a class="nav-home" href="/menu">Menu</a>
          <a class="nav-home" href="/cart">Cart</a>
          <a class="nav-home" href="/signin">Sign in</a>
        </div>
      </nav>
    </header>
    <main>
      <div class="products">
        <h2>Drinks</h2>
      </div>

      <div>
        <div class="product-circle">Product 1</div>
        <div class="product-circle">Product 2</div>
        <div class="product-circle">Product 3</div>
        <div class="product-circle">Product 4</div>
        <div class="product-circle">Product 5</div>
      </div>

      <div class="products">
        <h2>Food</h2>
      </div>
      <div>
        <div class="product-circle">Product 1</div>
        <div class="product-circle">Product 1</div>
        <div class="product-circle">Product 1</div>
        <div class="product-circle">Product 1</div>
        <div class="product-circle">Product 1</div>
      </div>
    </main>
  </body>
</html>
