<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/product.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Quicksand:wght@500"
      rel="stylesheet"
    />
    <title>Document</title>
  </head>
  <body>
    <header>
      <nav>
        <div class="nav-wrapper">
          <img
            class="nav-java"
            src="/images/logo-java.png"
            height="60px"
            width="70px"
          />
          <a class="nav-java" href="/home">Java the Hut</a>
        </div>
        <div class="navbar">
          <a class="nav-home" href="/menu">Menu</a>
          <a class="nav-home" href="/cart">Cart</a>
          <a class="nav-home" href="/signin">Sign in</a>
        </div>
      </nav>
    </header>
    <div class="product">
      <div class="product-wrapper">
        <div class="product-img">
          <img
            src="https://globalassets.starbucks.com/assets/041502ea2476446ba1118a7fe18d4dcb.jpg?impolicy=1by1_wide_topcrop_630"
          />
        </div>
        <div class="product-description">
          <p>the java coffee</p>
        </div>
      </div>
    </div>
    <div class="section">
      <div class="sizes">
        <div class="size-options">Size Options</div>
        <div class="cup-sizes">
          <div class="cup-buttons">
            <img src="/images/small.png" height="70px" width="70" /><br />
            <button>Small</button>
          </div>
          <div class="cup-buttons">
            <img src="/images/medium.png" height="80px" width="80" /><br />
            <button>Medium</button>
          </div>
          <div class="cup-buttons">
            <img src="/images/large.png" height="85px" width="85" /><br />
            <button>Large</button>
          </div>
        </div>
      </div>
      <div class="customizations">
        <h2>Customizations</h2>
        <div class="labels">
          <h3>Cream</h3>
          <button>-</button>
          <input type="text" id="cram" name="cream" value="0" />
          <button>+</button>
        </div>
        <div class="labels">
          <h3>Milk</h3>
          <button>-</button>
          <input type="text" id="milk" name="milk" value="0" />
          <button>+</button>
        </div>
        <div class="labels">
          <h3>Sugar</h3>
          <button>-</button>
          <input type="text" id="sugar" name="sugar" value="0" />
          <button>+</button>
        </div>
        <div class="labels">
          <h3>Black</h3>
          <input type="checkbox" />
        </div>
      </div>
    </div>
    <div class="cart-button">
      <button>Add to Cart</button>
    </div>
    <div class="back-link">
      <a href="/menu">Back</a>
    </div>
  </body>
</html>
