<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <nav></nav>
    <div class="product">
      <div class="product-img"></div>
      <div class="product-description">
        <p></p>
      </div>
    </div>
    <div class="sizes">
      <div class="size"></div>
      <div class="customizations">
        <h4>custpmizations</h4>
        <h5>Milk</h5>
        <button>-</button>
        <input type="text" id="milk" name="milk" />
        <label for="milk">0</label>
        <button>+</button>
      </div>
    </div>
  </body>
</html>
