<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/product.css" />
    <title>Document</title>
  </head>
  <body>
    <header>
      <nav>
        <div class="nav-wrapper">
          <img
            class="nav-java"
            src="/images/logo.png"
            height="50px"
            width="50px"
          />
          <a class="nav-java">Java the Hut</a>
        </div>
        <div class="navbar">
          <a class="nav-home" href="/home">Menu</a>
          <a class="nav-home" href="/cart">Cart</a>
          <a class="nav-home" href="/signin">Sign in</a>
        </div>
      </nav>
    </header>
    <div class="product">
      <div class="product-img">
        <img
          src="https://globalassets.starbucks.com/assets/62cada05d1f64f79bf42f9544cffaae1.jpg?impolicy=1by1_wide_topcrop_630"
        />
      </div>
      <div class="product-description">
        <p></p>
      </div>
    </div>
    <div class="sizes">
      <div class="size"></div>
      <div class="customizations">
        <h4>custpmizations</h4>
        <h5>Milk</h5>
        <button>-</button>
        <input type="text" id="milk" name="milk" value="0" />
        <button>+</button>
        <h5>Cream</h5>
        <button>-</button>
        <input type="text" id="cram" name="cream" value="0" />
        <button>+</button>
        <h5>sugar</h5>
        <button>-</button>
        <input type="text" id="sugar" name="sugar" value="0" />
        <button>+</button>
        <h5>Black</h5>
        <input type="checkbox" />
      </div>
    </div>
    <button>Add to Cart</button>
    <a href="/home">Back</a>
  </body>
</html>
